* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body,html{
    width: 100%;
    height: 100dvh;
}

.navegacion {
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: orangered;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;


    font-size: 25px;

    svg {
        font-size: 50px;
    }

    div {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: none;
            color: white;
            font-weight: bolder;
            transition: all 0.5s;;
        }

        a:hover{
            transform: translateY(-5px) scale(1.1);
            margin: 0px 5px;
            
        }

        svg{
            font-size: 30px;
        }
    }
}